<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-simplequiz">
	<tr>
		<td><f:translate key="tx_simplequiz_domain_model_quiz.name" /></td>
		<td>{quiz.name}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_simplequiz_domain_model_quiz.possible_questions" /></td>
		<td>{quiz.possibleQuestions}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_simplequiz_domain_model_quiz.questions" /></td>
		<td>{quiz.questions}</td>
	</tr>
</table>
</html>
