<div class="quiz-question-item">
    <p class="quiz-question quiz-subtitle"><strong>{question.question}</strong></p>
    <div class="quiz-answers">
        <f:variable name="amountOfCorrectAnswers">{question.amountOfCorrectAnswers}</f:variable>
        <f:for each="{question.answers}" as="answer">
            <div class="quiz-answer-item form-check">
                <f:if condition="{quizType} == 'multiple'">
                    <f:then>
                        <f:form.checkbox class="form-check-input" name="quizSession[selectedAnswers][{question.uid}][]" value="{answer.uid}" id="answer{answer.uid}"/>
                    </f:then>
                    <f:else>
                        <f:form.radio class="form-check-input" name="quizSession[selectedAnswers][{question.uid}]" value="{answer.uid}" id="answer{answer.uid}"/>
                    </f:else>
                </f:if>
                <label class="form-check-label" for="answer{answer.uid}">
                    <f:format.html>{answer.answer}</f:format.html>
                </label>
            </div>
        </f:for>
    </div>
</div>
