<div class="quiz-question-item">
    <p class="quiz-question"><strong>{question.question}</strong></p>
    <div class="quiz-answers">
        <f:for each="{question.answers}" as="answer">
            <div class="quiz-answer-item form-check">
                <f:form.radio class="form-check-input" name="selectedAnswers[]" value="{answer.uid}" id="answer{answer.uid}"/>
                <label class="form-check-label" for="answer{answer.uid}">
                    <f:format.html>{answer.answer}</f:format.html>
                </label>
            </div>
        </f:for>
    </div>
</div>
