<div class="quiz-questionresult-item">
    <f:if condition="{riddler.isCurrentStepAnsweredCorrectly}">
        <f:then>
            <div class="quiz-questionresult-success">
                <p class="lead">
                    <strong><f:translate key="simplequiz.answer.correct" extensionName="simplequiz"/></strong>
                </p>
                <div class="quiz-furtherinformation">
                    <f:format.html>{riddler.selectedAnswerOfCurrentQuestion.furtherInformation}</f:format.html>
                </div>
            </div>
        </f:then>
        <f:else>
            <div class="quiz-questionresult-success">
                <p class="lead">
                    <strong><f:translate key="simplequiz.answer.incorrect" extensionName="simplequiz"/></strong>
                </p>
                <div class="quiz-furtherinformation">
                    <f:format.html>{riddler.selectedAnswerOfCurrentQuestion.furtherInformation}</f:format.html>
                </div>
            </div>
            <div class="quiz-questionresult-correctanswer">
                <p><f:translate key="simplequiz.correct_answer.info" extensionName="simplequiz" /></p>
                <f:alias map="{correctAnswer: riddler.correctAnswerOfCurrentQuestion}">
                    <div class="quiz-answer"><f:format.html>{correctAnswer.answer}</f:format.html></div>
                    <div class="quiz-furtherinformation">
                        <f:format.html>{correctAnswer.furtherInformation}</f:format.html>
                    </div>
                </f:alias>
            </div>
        </f:else>
    </f:if>
</div>
<f:render partial="Form/QuizSessionNotStarted" arguments="{quizSession: quizSession}" />
