<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:sq="http://typo3.org/ns/Wacon/Mctest/ViewHelpers"
    data-namespace-typo3-fluid="true">
    <div class="quiz-questions">
        <f:render partial="Form/Question" arguments="{question: quizSession.currentQuestion, quizType: quizSession.quizType}" />
    </div>

    <f:render partial="Form/QuizSessionNotStarted" arguments="{quizSession: quizSession}" />
    <f:render partial="Form/FormHiddenSelectedAnswers" arguments="{selectedAnswers: quizSession.selectedAnswers}" />
</html>
