<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:layout name="Default" />

    <f:section name="content">
        <div class="quiz-complete">
            <f:if condition="{statistic}">
                <f:then>
                    <p><f:translate key="plugin.mctest.complete.intro" extensionName="mctest" /></p>
                    <p><strong><f:translate key="plugin.mctest.complete.result" extensionName="mctest" arguments="{0: '{statistic.get.quiz.percentageCorrect} %'}"/></strong></p>
                    <f:if condition="{statistic.dashboardStatistic.quizSessions}">
                        <p><f:translate key="plugin.mctest.complete.result.overall" extensionName="mctest" arguments="{0: '{statistic.statisticForUserQuiz.percentageCorrect} %'}"/></p>
                    </f:if>
                </f:then>
                <f:else>
                    <p><f:translate key="plugin.mctest.complete.nostatistic" extensionName="mctest" /></p>
                </f:else>
            </f:if>
        </div>
    </f:section>
</html>
