<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:layout name="Default" />

    <f:section name="content">
        <f:if condition="{statistic}">
            <f:then>
                <p><f:translate key="plugin.simplequiz.complete.intro" extensionName="simplequiz" /></p>
                <p><f:translate key="plugin.simplequiz.complete.result" extensionName="simplequiz" arguments="{0: statistic.quiz.percentageCorrect}"/></p>
                <f:if condition="{statistic.dashboardStatistic.quizSessions}">
                    <p><f:translate key="plugin.simplequiz.complete.result" extensionName="simplequiz" arguments="{0: statistic.dashboardStatistic.totalPercentageCorrect}"/></p>
                </f:if>
            </f:then>
            <f:else>
                <p><f:translate key="plugin.simplequiz.complete.nostatistic" extensionName="simplequiz" /></p>
            </f:else>
        </f:if>
    </f:section>
</html>
