<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:debug title="Index.html">{_all}</f:debug>

This template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Quiz:
          Index.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
    <h1>Listing for Quiz</h1>

    <f:flashMessages />

    <table class="tx_simplequiz">
        <tr>
            <th><f:translate key="tx_simplequiz_domain_model_quiz.name" /></th>
            <th><f:translate key="tx_simplequiz_domain_model_quiz.possible_questions" /></th>
            <th><f:translate key="tx_simplequiz_domain_model_quiz.questions" /></th>
            <th></th>
            <th></th>
        </tr>
        <f:for each="{quizzes}" as="quiz">
            <tr>
                <td><f:link.action action="show" arguments="{quiz : quiz}">{quiz.name}</f:link.action></td>
                <td><f:link.action action="show" arguments="{quiz : quiz}">{quiz.possibleQuestions}</f:link.action></td>
                <td><f:link.action action="show" arguments="{quiz : quiz}">{quiz.questions}</f:link.action></td>
                <td><f:link.action action="edit" arguments="{quiz : quiz}">Edit</f:link.action></td>
                <td><f:link.action action="delete" arguments="{quiz : quiz}">Delete</f:link.action></td>
            </tr>
        </f:for>
    </table>

    <f:link.action action="new">New Quiz</f:link.action>
</f:section>
</html>
